.navbar {
  top: 0;
  width: 100%;
  text-align: center;
  grid-column: 2;
}

.navbar a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: white;
  color: rgb(11,163,156);
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 10px 5px 10px 5px;
}

h1 {
  color: white;
  display: table; 
  margin-top: 20px;
  padding:15px;
  font-size:30px;
  background-color:black;
  letter-spacing: 1px;
  text-align: center;
 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=text] {
  width: 50%;
  padding: 20px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  text-align: center;
  font-size: 15px;
}

#message {
  height: 50px;
  width: 50%;
  border: 2px solid black;
}

 .send{
  background-color: blue;
  color: black;
 
}