.navbar {
  top: 0;
  width: 100%;
  text-align: center;
  grid-column: 2;
}

.navbar a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: white;
  color: rgb(11,163,156);
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 10px 5px 10px 5px;
}

h1 {
  color: white;
  display: table; 
  margin-top: 20px;
  padding:15px;
  font-size:30px;
  background-color:black;
  letter-spacing: 1px;;
  
}

.flex-container {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.column {
  display: block;
  -ms-flex: 25%; 
  flex: 100%;
  max-width: 20%;
  padding: 5px 5px 5px 5px;
  position: relative;
  
}

.column img {
  display: block;
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.overlay { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
} 

.img1-wrap:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

footer {
  background-color: rgb(37,37,37);
  height: 120px;
  margin-bottom: 50px;
  color: white;
  
}

.socialmedia {
  color:  rgb(37,37,37);
  background-color: white;
  border: 1px solid white;
  height: 30px;
  width: 30px;
}


p {
  padding: 50px 0 50px 200px;
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}