.navbar {
  top: 0;
  width: 100%;
  text-align: center;
  grid-column: 2;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: white;
  color: rgb(11,163,156);
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 10px 5px 10px 5px;
}

h1 {
  color: white;
  display: table; 
  margin-top: 20px;
  padding: 0 10px 0 10px; 
  font-size:40px;
  background-color: rgb(37,37,37);
  letter-spacing: 1px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Changa', sans-serif;
  font-size: 30px;
}

.flex-container {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.column {
  display: block;
  -ms-flex: 25%; 
  flex: 100%;
  max-width: 20%;
  padding: 5px 5px 5px 5px;
  position: relative;
  
}

.column img {
  display: block;
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.overlay { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
} 

.img1-wrap:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  flex: row;
  background-color: rgb(37,37,37);
  height: 120px;
  margin-bottom: 50px;
  color: white;
}

p{
  padding-top: 20px;
  padding-left: 50px;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: end;
  color:  rgb(37,37,37);
  background-color: white;
  height: 45px;
  padding: 5px;
  margin: 10px;
}

.smicons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  margin: auto 0 auto auto;
  width: 400px;
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

    .navbar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 100%;
      font-size: 40px;
    }
  
    .buttons {
      display: flex;
      flex-direction: column;
      font-size: 50px;
    }
  
   footer {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     background-color: rgb(37,37,37);
     height: 200px;
     flex: 50%;
   }
   
    .smicons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 50%;
    }
  }
