.grid-container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 15% 50% 20% auto;
  height: auto;
  width: 100%;
}

.navbar {
  top: 0;
  width: 100%;
  text-align: center;
  grid-column: 2;
}

.navbar a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: white;
  color: rgb(11,163,156);
}

.buttons {
  display: flex;
  justify-content: center;
}


.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  
}


img {
  width: 300px;
}


.beacon {
  grid-column: 1 / span 3;
  grid-row: 2;
  background-image: url("solocholo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.mankind {
  grid-column: 3;
  grid-row: 2;
}

h1 {
  color: black;
  display: table; 
  margin: 60px auto 0px 0px; 
  padding:5px;
  font-size:25px;
  background-color:white;
  font-family: 'Cairo', sans-serif;
  letter-spacing: 1px;
}

p {
  color: white;
  background-color: rgb(37,37,37);
  display: table; 
  margin: 20px auto 0px 0px;
  padding:10px;
  font-size:20px;
  white-space: nowrap;
  font-family: 'PT Sans', sans-serif;
}

.button2 {
  color: black;
  background-color: rgb(11,163,156);
}

.three {
  grid-column: 1 / span 3;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.father {
  display: flex;
  flex-direction: column;

}

.footer {
  background-color: yellow;
  grid-column: 1 / span 3;
  grid-row: 4;
}