.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 20% 50% 20% auto;
  height: 100%;
  width: 100%;
}

.button {
  background-color: rebeccapurple;
  color: red;
}

.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

.button {
  color: red;
}

img {
  width: 400px;
}

.beacon {
  grid-column: 1 / span 3;
  grid-row: 2;
  background-image: url("solocholo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}
.mankind {
  grid-column: 3;
  grid-row: 2;
}

p {
  color: white;
  background-color: rgb(37,37,37);
  font-size: 25px;
}

.three {
  background-color: purple;
  grid-column: 1 / span 3;
  grid-row: 3;
}
.footer {
  background-color: yellow;
  grid-column: 1 / span 3;
  grid-row: 4;
}